button {
  padding: 10px;
  color: whitesmoke;
  background-color: #ff3f3f;
  border: none;
  border-radius: 4px;
}

/*
.back-button {
  padding: 4px 12px 4px 12px;
  color: whitesmoke;
  background-color: #ff3f3f;
  border: none;
  border-radius: 4px;
}

*/